<main class="home">
  <section class="auth-home">
    <h2>Edit profile</h2>
    <p class="sub-p">In this section you can edit your profile information</p>
    <form class="form" action="/profile/edit" method="POST">
      {{!-- <label for="name">Name</label> --}}
      <input class="input-black" type="text" name="name" id="name"  value="{{user.name}}">
      {{!-- <label for="surname">Surname</label> --}}
      <input class="input-black" type="text" name="surname" id="surname"  placeholder="Surname" value="{{user.surname}}">
      {{!-- <label for="email">Email</label> --}}
      <input class="input-black" type="text" name="email" id="email"  value="{{user.email}}">
      {{!-- <label for="phone">Phone</label> --}}
      <input class="input-black" type="text" name="phone" id="phone"  placeholder="Phone" value="{{user.phone}}">
      {{!-- <label for="location">Location</label> --}}
      <input class="input-black" type="location" name="location" id="location"  placeholder="Location" value="{{user.location}}">
      <button class="btn-black" type="submit">Update</button>
    </form>
    <form class="form" action="/profile/delete" method="POST">
      <button class="btn-delete" type="submit">Delete</button>
    </form>
</section>
</main>

  