<h2>House details</h2>

<main>
  <section>  
    {{#each}} 
    <article>
      <p>{{title}}</p>
      <p>{{location}}</p>
      <p>{{description}}</p>
      <p>{{area}}</p>
      <p>{{rooms}}</p>
      <p>{{bathrooms}}</p>
      <p>{{garden}}</p>
      <p>{{swimmingPool}}</p>
      <p>{{privateBeach}}</p>
      <button type="submit">contact</button>
    </article>
    {{/each}}
 
  </section>
</main>