
<main>
  <section>  
    <article>
      <h2>{{title}}</h2>
      <p class="sub-p">{{location}}</p>
      <p>{{description}}</p>
      <h3>Details</h3>
      <p>{{area}} m2</p>
      <p>{{rooms}} rooms</p>
      <p>{{bathrooms}} bathrooms</p>
      <p>{{garden}}</p>
      <p>{{swimmingPool}}</p>
      <p>{{privateBeach}}</p>
      <h3>Price</h3>
      <p>{{price}}</p>
      <a href="/houses/sells/{{_id}}/edit">Edit</a>
      <button type="submit">contact</button>
    </article>
 
  </section>
</main>