<main class="house-ad">
 
  <section class="carousel">
      {{#each image}}
      <article class="slides">
        <img src="{{this}}" alt="{{../title}}">
      </article>
      {{/each}}
  </section>

  <section class="house-info">  
    <article>
      <section class="title-ad">
        <h2>{{title}}</h2>
        {{!-- <p class="sub-p">{{location}}</p> --}}
        <p>{{description}}</p>
      </section>
      <section class="details-ad">
        <h3>Details</h3>
        <section class="details-ad-info">
          <section class="details-ad-info-1">
            <p>{{area}} m2</p>
            <p>{{rooms}} rooms</p>
            <p>{{bathrooms}} bathrooms</p>
          </section>
          <section class="details-ad-info-2">
            <p>Garden: {{garden}}</p>
            <p>Swimmingpool: {{swimmingPool}}</p>
            <p>Private Beach: {{privateBeach}}</p>
          </section>
        </section>
      </section>
      <section class="price-ad">
        <h3>Price</h3>
        <p>{{price}}</p>
      </section>
      <section class="contact">
        <a href="/houses/sells/{{_id}}/edit"><img src="/images/icons8-edit-column-50.png"> Edit</a>
        <button class="btn-black" type="submit">contact</button>
      </section>
    </article>
  </section>
</main>